.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0E8;
  padding: 1rem 2rem;
}
.nav_header i {
  font-size: 1.3rem;
  color: #222222;
 
}
.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #222222;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
