.main_img {
  margin-top: 1rem;
  height: 40vh;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.block_material {
  width: 27%;
  background-color: #f6f4f4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.img_block {
  height: 180px;
  background-size: cover;
  background-position: center;
}
.photo_details {
  padding: 1rem;
}
.detail_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.title_block {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.detail_1 i {
  color: #ffc107;
  margin-left: 10px;
}
.details_2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: #666;
  font-size: 0.9rem;
}
.details_2 i {
  color: #3f3d3d;
}
.details_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  margin-top: 1rem;
}
.Type p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

.Type span {
  font-weight: bold;
  color: #0b0b0b;
  font-size: 1.2rem;
}
.photo_count {
  display: flex;
  align-items: center;
  gap: 6px;
}

.photo_count i {
  color: #555;
  font-size: 1.2rem;
}

.photo_count p {
  margin: 0;
  font-size: 0.95rem;
  color: #333;
}
